/* Loading Animation */
.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--netflix-black);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 0.5s, visibility 0.5s;
}

.loader.hidden {
    opacity: 0;
    visibility: hidden;
}

.netflix-loader {
    width: 100px;
    height: 30px;
    position: relative;
}

.netflix-loader div {
    width: 10px;
    height: 30px;
    background-color: var(--netflix-red);
    position: absolute;
    animation: netflix-loader 1.2s infinite ease-in-out;
}

.netflix-loader div:nth-child(1) {
    left: 0;
    animation-delay: -0.4s;
}

.netflix-loader div:nth-child(2) {
    left: 15px;
    animation-delay: -0.2s;
}

.netflix-loader div:nth-child(3) {
    left: 30px;
    animation-delay: 0s;
}

@keyframes netflix-loader {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}